{% extends '::base.html.twig' %}

{% block body %}
    <br><br><br>
    <div class="jumbotron">
        <div class="container">
            <h1>Oops, 403! <i class="glyphicon glyphicon-hand-up"></i></h1>
            <p>Access denied, check with your administrator if you have permission to access this page</p>
        </div>
    </div>
{% endblock %}
