{% extends '::base.html.twig' %}

{% block body %}
    <br><br><br>
    <div class="jumbotron">
        <div class="container">
            <h1>Oops, 500! <i class="glyphicon glyphicon-hand-up"></i></h1>
            <p>Sorry, an internal error occurred. <br>We are working to fix this.</p>
        </div>
    </div>
{% endblock %}
