{% extends '::base.html.twig' %}

{% block body %}
    <br><br><br>
    <div class="jumbotron">
        <div class="container">
            <h1>Oops, 404! <i class="glyphicon glyphicon-hand-up"></i></h1>
            <p>Page not found, make sure you entered the correct url.</p>
        </div>
    </div>
{% endblock %}

       