{% extends '::base.html.twig' %}

{% block body %}
<br><br><br>
    <div class="jumbotron">
        <div class="container">
            <h1>Hello! <i class="glyphicon glyphicon-hand-up"></i></h1>
            <p>Use the top bar to browse the content.</p>
        </div>
    </div>
{% endblock %}