<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Mobly Test">
        <meta name="author" content="Washington Silva">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Bootstrap #}
        <link href="{{ asset('bootstrap3/css/bootstrap.min.css') }}" rel="stylesheet">
        {# Custom #}
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">

        {# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries #}
        {# WARNING: Respond.js doesn't work if you view the page via file://#}
        {# [if lt IE 9] #}
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" type="text/javascript"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" type="text/javascript"></script>
        {# [endif] #}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% include 'navbar.html.twig' %}



        {% block body %}{% endblock %}

        {# jQuery (necessary for Bootstrap's JavaScript plugins)#}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
        {# Include all compiled plugins (below), or include individual files as needed#}
        <script src="{{ asset('bootstrap3/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {# Custom #}
        <script src="{{ asset('js/custom.js') }}" type="text/javascript"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
