<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        {#<!-- Brand and toggle get grouped for better mobile display -->#}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mobly Test</a>
        </div>

        {#<!-- Collect the nav links, forms, and other content for toggling -->#}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            {% if is_granted('ROLE_USER') %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('purchase_index') }}">Purchase Orders</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>

            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                </ul>
            {% endif %}


        </div>{#<!-- /.navbar-collapse -->#}
    </div>{#<!-- /.container-fluid -->#}
</nav>