{% extends 'PurchaseBundle::purchase_base.html.twig' %}

{% block title %}Create - {{ parent() }}{% endblock %}

{% block content %}

{{ form_start(form, {'attr': {'role':'form'} }) }}
    {{ form_errors(form) }}

    <div class="prototipo-item"  data-prototype='
        <div class="item col-md-3" style="margin-bottom: 10px;" >

            <div class="row-fluid">
                <button type="button" class="btn btn-xs btn-danger pull-right remover-elemento" data-alvo=".item" title="Remove" ><i class="glyphicon glyphicon-remove"></i></button>
            </div>

            <div class="form-group">
                {{ form_label(form.itens.vars.prototype.cost ) }}
                {{ form_widget(form.itens.vars.prototype.cost) }}
                {{ form_errors(form.itens.vars.prototype.cost) }}
            </div>

            <div class="form-group">
                {{ form_label(form.itens.vars.prototype.discount ) }}
                {{ form_widget(form.itens.vars.prototype.discount) }}
                {{ form_errors(form.itens.vars.prototype.discount) }}
            </div>

        </div>

    ' ></div>

    <div class="list-itens row-fluid">

        {% for item in form.itens %}
            <div class="item col-md-3" style="margin-bottom: 10px;">

                <div class="row-fluid">
                    <button type="button" class="btn btn-danger btn-xs pull-right remover-elemento" data-alvo=".item" title="Remove" ><i class="glyphicon glyphicon-remove"></i></button>
                </div>

                <div class="form-group {% if  item.cost.vars.errors|length %}has-error{% endif %} ">
                    {{ form_label(item.cost) }}
                    {{ form_widget(item.cost) }}
                    {{ form_errors(item.cost) }}
                </div>

                <div class="form-group {% if  item.discount.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(item.discount ) }}
                    {{ form_widget(item.discount) }}
                    {{ form_errors(item.discount) }}
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="col-md-12" style="margin-top: 10px">
        <button type="button" {#style="display:none"#} class="btn btn-success btn-sm add-clone" data-destino=".list-itens" data-origem=".prototipo-item" data-container=".item" ><i class="glyphicon glyphicon-plus"></i> Add Item</button>
        <hr>
    </div>

    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ path('purchase_index') }}" class="btn btn-default" >Cancel</a>
    </div>


    {{ form_widget(form._token) }}
</form>

{% endblock %}