{% extends 'PurchaseBundle::purchase_base.html.twig' %}

{% block title %}List - {{ parent() }}{% endblock %}

{% block content %}

    <a href="{{ path('purchase_create') }}" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> New</a><br><br>

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Order Number</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Total Cost</th>
            <th>Total Discount</th>
            <th>Action</th>
        </tr>

        {% for order in purchaseOrders %}
            <tr>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.createdAt |date('d/m/Y H:i:s') }}</td>
                <td>{{ order.updatedAt |date('d/m/Y H:i:s')}}</td>
                <td>{{ order.totalCost }}</td>
                <td>{{ order.totalDiscount }}</td>
                <td>
                    <a href="{{ path('purchase_show', {'id': order.orderNumber}) }}" class="btn btn-info btn-xs" title="Show"><i class="glyphicon glyphicon-eye-open"></i> </a>
                    <a href="{{ path('purchase_update', {'id': order.orderNumber}) }}" class="btn btn-info btn-xs" title="Update"><i class="glyphicon glyphicon-pencil"></i> </a>
                    <a href="{{ path('purchase_delete', {'id': order.orderNumber}) }}" class="btn btn-info btn-xs confirm-action"
                       data-message="Are you sure you want to delete this Purchase Order?" title="Delete"><i class="glyphicon glyphicon-trash"></i> </a>
                </td>
            </tr>
        {% endfor %}

    </table>



{% endblock %}