{% extends 'PurchaseBundle::purchase_base.html.twig' %}

{% block title %}Create - {{ parent() }}{% endblock %}

{% block content %}

{{ form_start(form, {'attr': {'role':'form'} }) }}
    {{ form_errors(form) }}


    <div class="list-itens row-fluid">

        {% for item in form.itens %}
            <div class="item col-md-3" style="margin-bottom: 10px;">

                <div class="form-group {% if  item.cost.vars.errors|length %}has-error{% endif %} ">
                    {{ form_label(item.cost) }}
                    {{ form_widget(item.cost, {'attr': {'disabled':'disabled'} })  }}
                    {{ form_errors(item.cost) }}
                </div>

                <div class="form-group {% if  item.discount.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(item.discount ) }}
                    {{ form_widget(item.discount, {'attr': {'disabled':'disabled'} }) }}
                    {{ form_errors(item.discount) }}
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="col-md-12"">
        <hr>
        <a href="{{ path('purchase_index') }}" class="btn btn-default" >Cancel</a>
    </div>



</form>

{% endblock %}