{% extends '::base.html.twig' %}

{% block title %}Purchase Orders{% endblock %}

{% block body %}


<div class="container-fluid">
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <h2>{{ block('title') }}</h2><hr>

    {# FlashMessage Success #}
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success clearfix">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
        <div class="pull-left" style="margin-right:10px">
            <i class="glyphicon glyphicon-exclamation-sign" style="font-size:50px"></i>
        </div>
        <div class="pull-left">
            <h4 class="block">Success</h4>
            <p>{{ flashMessage }}</p>
        </div>
    </div>
    {% endfor %}

    {# FlashMessage Error #}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger clearfix">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
            <div class="pull-left" style="margin-right:10px">
                <i class="glyphicon glyphicon-warning-sign" style="font-size:50px"></i>
            </div>
            <div class="pull-left">
                <h4 class="block">Error</h4>
                <p>{{ flashMessage }}</p>
            </div>
        </div>
    {% endfor %}


    {% block content %}{% endblock %}

</div>


{# Confirm Modal #}
<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm</h4>
            </div>
            <div class="modal-body ">
                <p class="confirm-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary btn-confirm">Confirm</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {# plugins #}
    <script src="{{ asset('plugins/jquery-inputmask/jquery.inputmask.bundle.js') }}" type="text/javascript"></script>

    <script>
        $(document).ready( function(e){
            // script para criar elemento e inserir em outro
            $(document).on('click', '.add-clone', function(e){

                // impede a criação de "#" na URL
                e.preventDefault();

                var prototype = $($(this).attr('data-origem'));    // $('.prototipo')
                var destino = $($(this).attr('data-destino'));     // $('.clones')
                var container = $($(this).attr('data-container')); // $('.clone')

                //impede o clone mais de 6 vezes
                //if($(destino).find('div'+container.selector).length < 7){

                    if(prototype.data('index') === undefined ){
                        prototype.data('index', $(destino).find('div'+container.selector).length );
                    }

                    var index = prototype.data('index');

                    // cria o elemento
                    // substitui o __name__ pelo indice
                    var elemento = prototype.attr('data-prototype').replace(/__name__/g, index);

                    // aumenta o índice com +1 para o próximo item
                    prototype.data('index', index + 1);

                    // copia o elemento para o destino
                    $(elemento).appendTo(destino);
                //}

                // aplica a mascara em campos gerados dinâmicamente
                $('.money').inputmask('[9][9][9][9][9][9][9][9].99', { placeholder:"", rightAlign: true, numericInput: true, radixPoint: "."});

                return false;

            });

            // script para remover elemento
            $(document).on("click", '.remover-elemento' ,function(e){
                e.preventDefault();

                // armazena o elemento alvo
                var alvo = $(this).attr('data-alvo');
                // remove o elemento (se quiser manter ao menos um, mudar o if o mesmo não for o último)
                if($(alvo).length >= 0){
                    $(this).closest(alvo).remove();
                }
            });

        });

    </script>

{% endblock %}

