
<div class="container col-md-3 col-md-offset-4">
    <p><h2>Register</h2><hr></p>

    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" role="form" class="fos_user_registration_register">
        {{ form_errors(form) }}


        <div class="form-group {% if  form.username.vars.errors|length %}has-error{% endif %}">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, {'attr':{'class':'form-control'} } ) }}
            {{ form_errors(form.username) }}
        </div>
        <div class="form-group {% if  form.email.vars.errors|length %}has-error{% endif %}">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr':{'class':'form-control'} }) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group {% if  form.plainPassword.first.vars.errors|length %}has-error{% endif %}">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control'} }) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="form-group {% if  form.plainPassword.second.vars.errors|length %}has-error{% endif %}">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control'} }) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
        <hr>
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            {#<a href="{{ path('fos_user_security_login') }}" class="btn btn-success">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
        </div>
    {{ form_end(form) }}
</div>