{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="container col-md-3 col-md-offset-4">
<p><h2>Login</h2><hr></p>
{% if error %}
    <div class="alert alert-danger clearfix">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
        <div class="pull-left" style="margin-right:10px">
            <i class="glyphicon glyphicon-warning-sign" ></i>
        </div>
        <div class="pull-left" style="margin-right:10px">
            {{ error|trans({}, 'FOSUserBundle') }}
        </div>
    </div>

{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group {% if error %} has-error {% endif %}">
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div class="form-group {% if error %} has-error {% endif %}">
        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" class="form-control" id="password" name="_password" required="required" />
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>

    <hr>

    <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    {#<a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>#}
</form>

</div>
{% endblock fos_user_content %}

