{% extends '::base.html.twig' %}

{% block body %}
    <p>&nbsp</p><p>&nbsp</p>

    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}

        {% endif %}
    </div>

    {# FlashMessage Success #}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success clearfix">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
            <div class="pull-left" style="margin-right:10px">
                <i class="glyphicon glyphicon-exclamation-sign" style="font-size:50px"></i>
            </div>
            <div class="pull-left">
                <h4 class="block">Success</h4>
                <p>{{ message|trans({}, 'FOSUserBundle') }}</p>
            </div>
        </div>
    {% endfor %}

    {# FlashMessage Error #}
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger clearfix">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
            <div class="pull-left" style="margin-right:10px">
                <i class="glyphicon glyphicon-warning-sign" style="font-size:50px"></i>
            </div>
            <div class="pull-left">
                <h4 class="block">Error</h4>
                <p> {{ message|trans({}, 'FOSUserBundle') }}</p>
            </div>
        </div>
    {% endfor %}


    <div>
        {% block fos_user_content %}{% endblock fos_user_content %}
    </div>

{% endblock %}